.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  height: 450px;
  position: relative;
  padding-top: 128px;
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  height: 160px;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  font-size: 4em;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text01 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: center;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text03 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  line-height: 1.44;
}
.home-primary {
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-portofolio {
  height: 277px;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: 60px;
}
.home-text-container {
  height: 204px;
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  flex-direction: column;
}
.home-text05 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text08 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
}
.home-text10 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
}
.home-about {
  background-color: var(--dl-color-scheme-lightbrown);
}
.home-max-width1 {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container1 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text12 {
  align-self: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text13 {
  color: var(--dl-color-scheme-black80);
  align-self: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-blog {
  height: 720px;
  padding-bottom: 52px;
}
.home-text14 {
  text-align: center;
  margin-bottom: 93px;
}
.home-blog-cards-container {
  width: 1420px;
  height: 153px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.home-video {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-video1 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-video2 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-video3 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-text15 {
  color: var(--dl-color-scheme-black80);
  font-size: 18px;
  margin-top: 80px;
  text-align: center;
  line-height: 26px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
}
.home-text16 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.home-banner {
  background-color: var(--dl-color-scheme-brown);
}
.home-max-width2 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text27 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-primary1 {
  margin-bottom: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-max-width1 {
    flex-direction: column;
  }
  .home-text-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-image-container {
    width: 100%;
  }
  .home-blog-cards-container {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 48px;
  }
}
