.dataset-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dataset-hero {
  height: 375px;
  position: relative;
  padding-top: 58px;
  padding-bottom: 19px;
}
.dataset-max-width {
  margin-top: 4px;
}
.dataset-heading-container {
  flex: 1;
  height: 160px;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dataset-text {
  font-family:verdana;
  width: 1272px;
  font-size: 4em;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dataset-navbar-interactive {
  width: 100%;
  height: 113px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.dataset-desktop-menu {
  display: flex;
}
.dataset-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dataset-navlink {
  font-family: verdana;
  font-size: 32px;
  text-decoration: none;
}
.dataset-navlink1 {
  font-family: verdana;
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.dataset-navlink2 {
  font-size: 32px;
  font-family: verdana;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.dataset-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dataset-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.dataset-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dataset-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.dataset-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dataset-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.dataset-image {
  height: 2rem;
}
.dataset-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dataset-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dataset-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dataset-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.dataset-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.dataset-login {
  margin-right: var(--dl-space-space-twounits);
}
.dataset-icon-group {
  display: flex;
}
.dataset-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.dataset-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.dataset-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dataset-about {
  height: 100%;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-scheme-lightbrown);
}
.dataset-max-width1 {
  width: 1708px;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}
.dataset-text-container {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.dataset-text08 {
  font-size: 56px;
  align-self: center;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.dataset-text09 {
  color: var(--dl-color-scheme-black80);
  font-size: 22px;
  align-self: stretch;
  text-align: justify;
  line-height: 26px;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.dataset-text10 {
  font-size: 26px;
}
.dataset-text11 {
  font-size: 26px;
}
.dataset-text15 {
  font-size: 26px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.dataset-text16 {
  color: var(--dl-color-scheme-black80);
  font-size: 22px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.dataset-text17 {
  font-size: 26px;
}
.dataset-text18 {
  font-size: 26px;
}
.dataset-text19 {
  font-size: 26px;
}
.dataset-text22 {
  font-size: 26px;
}
.dataset-text23 {
  color: var(--dl-color-scheme-black80);
  font-size: 26px;
  line-height: 26px;
}
.dataset-text25 {
  color: var(--dl-color-scheme-black80);
  font-size: 22px;
  line-height: 26px;
}
.dataset-text27 {
  font-size: 30px;
}
.dataset-text28 {
  color: var(--dl-color-scheme-black80);
  font-size: 30px;
  line-height: 26px;
}
.dataset-blog-cards-container {
  width: 1420px;
  height: 153px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.dataset-video {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.dataset-video1 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.dataset-video2 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.dataset-video3 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.dataset-text32 {
  color: var(--dl-color-scheme-black80);
  font-size: 24px;
  align-self: center;
  margin-top: 80px;
  text-align: justify;
  line-height: 26px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
}
.dataset-text33 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.dataset-text34 {
  font-size: 28px;
}
.dataset-text44 {
  font-size: 26px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 1.5;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.dataset-text59 {
  font-weight: 700;
}
.dataset-text60 {
  font-size: 30px;
  font-weight: 700;
}
@media(max-width: 991px) {
  .dataset-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .dataset-max-width1 {
    flex-direction: column;
  }
  .dataset-text-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .dataset-blog-cards-container {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .dataset-text {
    font-size: 48px;
  }
  .dataset-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dataset-desktop-menu {
    display: none;
  }
  .dataset-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .dataset-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .dataset-btn-group {
    display: none;
  }
  .dataset-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .dataset-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .dataset-mobile-menu {
    padding: 16px;
  }
}
