.download-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.download-hero {
  height: 375px;
  position: relative;
  padding-top: 58px;
  padding-bottom: 19px;
}
.download-max-width {
  margin-top: 4px;
}
.download-heading-container {
  flex: 1;
  height: 160px;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.download-text {
  width: 1272px;
  font-size: 4em;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.download-navbar-interactive {
  width: 100%;
  height: 113px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.download-desktop-menu {
  display: flex;
}
.download-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.download-navlink {
  font-size: 32px;
  text-decoration: none;
}
.download-navlink1 {
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.download-navlink2 {
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.download-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.download-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.download-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.download-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.download-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.download-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.download-image {
  height: 2rem;
}
.download-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.download-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.download-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.download-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.download-login {
  margin-right: var(--dl-space-space-twounits);
}
.download-icon-group {
  display: flex;
}
.download-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.download-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.download-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.download-banner {
  width: 100%;
  align-items: center;
  padding-top: 28px;
  flex-direction: row;
  padding-bottom: 53px;
  justify-content: center;
  background-color: var(--dl-color-scheme-brown);
}
.download-image1 {
  width: 351px;
  height: 384px;
  align-self: center;
  object-fit: cover;
}
.download-max-width1 {
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.download-text08 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.download-text09 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.download-primary {
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.download-about {
  height: 803px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-scheme-lightbrown);
}
.download-max-width2 {
  width: 1708px;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}
.download-text-container {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.download-text10 {
  font-size: 56px;
  align-self: center;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.download-text11 {
  font-size: 26px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: justify;
  line-height: 1.5;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.download-text12 {
  font-size: 30px;
}
.download-text15 {
  line-height: 1;
}
.download-text16 {
  line-height: 1;
}
.download-text17 {
  line-height: 1;
}
.download-text18 {
  line-height: 1;
}
.download-text19 {
  line-height: 1;
}
.download-text20 {
  line-height: 1;
}
.download-text21 {
  line-height: 1;
}
@media(max-width: 991px) {
  .download-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .download-max-width2 {
    flex-direction: column;
  }
  .download-text-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .download-text {
    font-size: 48px;
  }
  .download-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .download-desktop-menu {
    display: none;
  }
  .download-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .download-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .download-btn-group {
    display: none;
  }
  .download-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .download-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .download-mobile-menu {
    padding: 16px;
  }
}
