.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  height: 375px;
  position: relative;
  padding-top: 58px;
  padding-bottom: 19px;
}
.home-max-width {
  margin-top: 4px;
}
.home-heading-container {
  flex: 1;
  height: 160px;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  font-family:verdana;
  width: 1272px;
  font-size: 4em;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-navbar-interactive {
  width: 100%;
  height: 113px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-navlink {
  font-family: verdana;
  font-size: 32px;
  text-decoration: none;
}
.home-navlink1 {
  font-family: verdana;
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink2 {
  font-family: verdana;
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-portofolio {
  height: 128px;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: 0px;
}
.home-text-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-text08 {
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-about {
  height: auto;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.home-image1 {
  width: 80%;
  height: auto;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-video {
  left: 22%;
  width: 12%;
  bottom: 11%;
  height: auto;
  position: absolute;
}
.home-blog {
  height: auto;
  padding-bottom: 52px;
}
.home-text09 {
  text-align: center;
  margin-bottom: 93px;
}
.home-blog-cards-container {
  width: 1420px;
  height: 153px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.home-video1 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-video2 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-video3 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-video4 {
  flex: 1;
  width: 320px;
  height: 180px;
  align-self: center;
}
.home-text10 {
  color: var(--dl-color-scheme-black80);
  font-size: 18px;
  margin-top: 80px;
  text-align: justify;
  line-height: 26px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
}
.home-text11 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-blog-cards-container {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-text {
    font-size: 48px;
  }
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
